*{
    margin: 0;
    padding: 0;
}


.popup{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 1;
}

.login__box{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    background-color: white;
    color : gray;
    border: solid 1px lightgray;
    height: 400px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.signin__box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    color : gray;
    border: solid 1px lightgray;
    height: 900px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.login__box p{
    margin-top: 15px;
    font-size: 26px;
}

.signin__box p{
    margin-top: 15px;
    font-size: 26px;
}

.login__input, .password__input, .email__input, .firstName__input, .lastName__input, .phone__input{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100px;
}

.login__input label, .password__input label, .email__input label, .firstName__input label,.lastName__input label, .phone__input label{
    margin-bottom: 15px;
}

.login__input input,.password__input input,.email__input input, .firstName__input input,.lastName__input input,.phone__input input{
    width: 60%;
    height: 30%;
    border-style: none;
    outline: none;
    border-bottom: solid 1px lightgray;
    font-size: 15px; 
}


.login__input input[type=text]:focus{
    border-bottom: 2px solid #555;
}

.password__input input[type=password]:focus{
    border-bottom: 2px solid #555;
}

.email__input input[type=text]:focus{
    border-bottom: 2px solid #555;
}

.firstName__input input[type=text]:focus, .lastName__input input[type=text]:focus, .phone__input input[type=text]:focus{
    border-bottom: 2px solid #555;
}

.login__button{
    margin-top: 20px;
    height: 50px;
    width: 60%;
    background-color: gray;
    color: white;
    border-style: none;
    outline: none;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.login__button:hover{
    cursor: pointer;
    background-color: darkgray;
}

.quit__button{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.login-validation{
    margin-top: 5px;
    font-size: 11px;
    width: 60%;
    color: red;
    display: flex;
    justify-content: flex-start;
}