
.cm__products__container{
    display: flex;
    flex-direction: column;
    width: 81%;
    margin: 25px;
    margin-top: 75px;

    table {
        display: grid;
        border-collapse: collapse;
        min-width: 100%;
        grid-template-columns: 
          minmax(100px, 1fr)
          minmax(150px, 1.67fr)
          minmax(150px, 1.67fr)
          minmax(150px, 1.67fr)
          minmax(150px, 1.67fr)
          minmax(150px, 1.67fr)
          minmax(150px, 1fr)
          minmax(150px, 1.67fr)
          minmax(300px, 3.33fr);
      }

        thead {
            display: contents;
            line-height: 2px;
            tr{
                display: contents;
                line-height: 2px; 
            }
        }
        
        tbody{
            display: contents;
            line-height: 25px;
            tr{
                display: contents;
                line-height: 25px;
            }
        }

        th,
        td {
        padding: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border: solid 1px lightgrey;
        }

        th {
        position: sticky;
        top: 0;
        background: rgb(60, 60, 65);
        font-weight: normal;
        font-size: 0.9rem;
        color: white;
        }

        th:last-child {
            border: 0;
          }
          
          td {
            padding-top: 10px;
            padding-bottom: 10px;
            color: #808080;
          }
          
          tr:nth-child(even) td {
            background: #f8f6ff;
          }

}

.cm__products__container__image{
    width: 48px;
    height: 48px;
}

.cm__products__container__filter{
    display: flex;
    align-items: center;
    align-self: flex-end;
    margin-bottom: 25px;

    a{
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        border-style:none;
        height: 40px;
        width: 120px;
        background-color: rgb(60, 60, 65);
        color: white;
        margin-left: 5px;
        margin-right: 50px;
        font-size: 15px;
        cursor: pointer;
    }

    label{
        font-size: 14px;
        padding-right: 5px;
    }

    input{
        width: 250px;
        height: 32px;
        border-style: none;
        border : solid 1px lightgrey;
        font-size: 15px;
        padding-left: 5px;
        margin-right: 10px;
        margin: 8px;
        outline: none;
        &:focus {
            border: 2px solid lightgrey;
        }
    }
}

.cm__products__container__actions{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cm__products__container__product__button{
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border-style:none;
    height: 32px;
    width: 90px;
    background-color: rgb(60, 60, 65);
    color: white;
    margin-left: 5px;
    font-size: 15px;
    cursor: pointer;
}

.cm__products__create__container{
    margin: 75px;
    Form{
    display: flex;
    flex-direction: column;   
    }
    span{
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 5px;
        margin-top: 25px;
    }
}

.cm__products__create__container__label{
    display: flex;
    width: 15%;  
    justify-content: flex-end;
    margin-left: auto;
    font-weight: 700;
}

.cm__products__create__container__input{
    border-style: none;
    outline: none;
    border: solid 1px lightgray;
    font-size: 15px; 
    height: 30px;
    width: 600px;
    padding-left: 5px;
    margin-left: 50px;
}

.cm__products__create__container__textarea{
    border-style: none;
    outline: none;
    border: solid 1px lightgray;
    font-size: 15px; 
    height: 150px;
    width: 600px;
    padding-left: 5px;
    padding-top: 5px;
    margin-left: 50px;
}

.cm__products__create__container__file{
    border-style: none;
    outline: none;
    border: solid 1px lightgray;
    font-size: 15px; 
    height: 30px;
    width: 600px;
    margin-left: 50px;
    padding-left: 5px;
    padding-top: 5px;
}


.cm__products__create__container__option__button{
    outline: none;
    border-style:none;
    height: 30px;
    width: 120px;
    background-color: rgb(60, 60, 65);
    color: white;
    cursor: pointer;
    margin-bottom: 30px;
}

.cm__products__create__container__create__button{
    outline: none;
    border-style:none;
    height: 50px;
    width: 150px;
    background-color: rgb(60, 60, 65);
    color: white;
    cursor: pointer;
    margin-bottom: 30px;
    align-self: flex-end;
}

.cm__products__create__container__validation{
    font-size: 13px;
    color: red;
    display: flex;
    margin-left: 160px;
}

.cm__products__option__stock__container{
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    margin-left:75px;
    width: 40%;
}

.cm__products__option__stock__container__header{
    display: flex;
    width: 800px;
    align-items: center;
    select{
        justify-self: flex-end;
        margin-left: auto;
        margin-right: 25px;
        width: 200px;
        height: 40px;
        border-style: none;
        outline: none;
        border: solid 1px lightgray;
        text-align-last:center;
        font-size: 16px;
        font-weight: 700;
    }
    button{
        justify-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        border-style:none;
        height: 40px;
        width: 150px;
        background-color: rgb(60, 60, 65);
        color: white;
        cursor: pointer;
    }
}

.cm__products__option__stock__container__product{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    h2{
        display: flex;
        justify-self: flex-start;
    }
    img{
        display: flex;
        justify-self: flex-start;
        object-fit: contain;
        height: 300px;
        width: 300px;
    }
    h3{
        display: flex;
        justify-self: flex-start;
    }
}

.cm__products__option__stock__container__options{
    margin-top: 30px;
    ul{
        li{
            border-bottom: solid 1px lightgrey;
            border-top: solid 1px lightgrey;
            display: flex;
            height: 50px;
            width: 800px;
            align-items: center;
            p{
                font-size: 17px;
                font-weight: 700; 
            }
            div {
                display: flex;
                align-items: center;
                justify-self: flex-end;
                margin-left: auto;
                margin-right: 5px;
                p{
                    font-size: 15px;
                    font-weight: 700;
                    margin-left: 10px;
                }
                input{
                    border-style: none;
                    outline: none;
                    border: solid 1px lightgray;
                    font-size: 15px; 
                    font-weight: 700;
                    text-align: center;
                    height: 30px;
                    width: 40px;
                    margin-left: 15px;
                }
                button{
                    outline: none;
                    border-style:none;
                    height: 30px;
                    width: 100px;
                    background-color: rgb(60, 60, 65);
                    color: white;
                    cursor: pointer; 
                    margin-left: 10px;
                }
            }
        }
    }
}

.cm__products__option__stock__container__options__boxtext{
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
    outline: none;
    border: solid 1px lightgray;
    font-size: 14px; 
    height: 30px;
    width: 40px;
}